* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  
}
/* NAVIGATOR */
header {
  width: 100%;
  height: 150px;
  /* background-color: rgb(44, 41, 10); */
}
.container {
  display: flex;
  height: inherit;
}
.logo-container {
  display: flex;
  align-items: center;
  width: 40%;
}
.logo {
  width: 30%;
  display: flex;
  align-items: center;
}
.logo img {
  transform: scale(0.8);
}
.logo-container .favourite {
  color: ivory;
  width: 60%;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
}

.search-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-box {
  background: rgb(6, 10, 32);
  border: 2px solid red;
  height: 3.5rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-container div {
  margin-right: 5rem;
}
.search-box i {
  color: tomato;
}
.search-box input {
  height: 60%;
  font-size: 1.4rem;
  width: 85%;
  outline: none;
  background: transparent;
  color: white;
  padding: 3%;
  border: 0px solid white;
}
.search-box input::placeholder {
  color: white;
}
.bell i {
  color: white;
  font-size: 1.5rem;
}
.profile-photo {
  height: 6rem;
  width: 6rem;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 50%;
}
.profile-photo img {
  height: 100%;
  width: 100%;
}
/* GIVING SOME SPACE BETWEEN NAV AND BODY */

.main-body {
  /* background-color: lightcoral; */
  width: 100%;
  margin-top: 40px;
  display: flex;
  
}
.song-container {
  width: 75%;
  /* height: 300px; */
  /* background-color: lightcyan; */
  margin-left: 4rem;
}
/* SLIDE SHOW CONTAINER */
.slide-show {
  width: 100%;
  /* same width: as song container ; */
  /* height: 400px; */
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 45px;
}

.slide-show img {
  width: 400px;
  height: 300px;
  transition: 0.5s all ease-in-out;
  opacity: 0.8;
}
.slide-show img:hover {
  transform: scale(1.3);
  opacity: 1;
  z-index: 1;
}
/* LATEST RELEASE CONTAINER */
.latest-release-container {
  width: 100%;
  height: 400px;
  /* background-color: rgb(92, 92, 240); */
}
.latest-release-header h1 {
  margin-left: 15%;
  font-size: 1.5rem;
  color: #ff93c5;
}
.latest-release-outer {
  width: 100%;
  /* background-color: skyblue; */
  display: flex;
  justify-content: center;
}
.latest-release-inner {
  width: 70%;
  height: 300px;
  /* background-color: snow; */
  display: flex;
  flex-wrap: wrap;
}
.latest-release {
  width: 50%;
  height: 150px;
  /* background-color: yellow; */
  display: flex;
}
.latest-release-column1 {
  width: 90%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  color: azure;
}
.latest-release-column1 img {
  width: 8rem;
  margin-left: 20px;
  cursor: pointer;
}
.latest-release-column1 .title{
  margin-left: 10px;
}
.latest-release-column1 .play{
  position: relative;
}
.latest-release-column1 .play i{
  display: none;
  position: absolute;
  top: 2rem;
  left: 4rem;
  color: #070506;
  font-size: 4rem;
}
.latest-release-column1 .play img:hover {
  opacity: 0.4;
}
.latest-release-column1 .play:hover i{
  display: block;
}




.latest-release-column2 {
  width: 10%;
  /* background-color: turquoise; */
}
.latest-release-column2 i {
  font-size: 1.6rem;
  width: 100%;
  color: #8e6dc3;
  cursor: pointer;
}
.latest-release-column2 p {
  color: azure;
}





/* POPULAR ARTIST CONTAINER */
.popular-artist-container{
  width: 100%;
  /* background-color: #ff0076; */
  margin-bottom: 30px;
}
.popular-artist-header h1{
  font-size: 1.5rem;
  color:#ff93c5;
  margin-left: 3%;
  margin-bottom: 20px;
}
.popular-artist-collection{
  display: flex;
  justify-content: space-evenly;
}
.artist{
  width: 8rem;
}
.artist-image{
  width: 8rem;
  }
.artist-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.popular-artist-collection .artist p{
  font-size: 1.2rem;
  color: azure;
  text-align: center;
}
/* MUSIC STATION */
.station-container {
  width: 100%;
  /* height: 300px; */
  /* background-color: crimson; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.station {
  width: 14rem;
  height: 14rem;
  /* background-color: darkgray; */
  position: relative;
}
.inner1 {
  width: 11rem;
  height: 7rem;
  background-color: rgb(255, 239, 22);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner2 {
  width: 10rem;
  height: 8rem;
  background-color: rgb(255, 230, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outer {
  width: 9rem;
  height: 10rem;
  background-color: rgb(255, 81, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer img {
  width: 7rem;
  height: 7rem;
}
.station-music {
  width: 8rem;
  height: 8rem;
  position:relative;
}
.station-music img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.5;
}
.station-music p{
  position: absolute;
  top: 50%;
  left: 50%;
  color: aliceblue;
  font-size: 1.8rem;
  transform: translate(-50%,-50%);
}



/* PARTY CONTAINER */
.party-container{
  width: 100%;
  height: 300px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.party{
  width: 450px;
  height: 230px;
  /* background-color: rgb(119, 23, 76); */
  position: relative;
  overflow: hidden;
}
.party  img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: 0.5s all ease-in-out;
}
.party span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 1.6rem;
  cursor: default;
}
.party  img:hover {
  transform: scale(1.3);
  opacity: 1;

}


/* LATEST ENGLISH */
.latest-english{
  width: 100%;
  /* background-color: tomato; */
  
}
.latest-english-header{
  font-size: 1.5rem;
  color:#ff93c5;
  margin-left: 3%;
  margin-bottom: 20px;
}

.latest-english-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.onism{
  width: 12rem;
  height: 16rem;
  /* background-color: teal; */
  
}
.onism-image{
  width: 100%;
  height: 12rem;
  /* background-color: violet; */
}
.onism-image img{
  width: 100%;
  height: 100%;
}
.onism .name{
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  text-align: center;
}
 .onism .date{
  font-size: 1rem;
  font-weight: 200;
  color:rgb(175, 175, 175);
  text-align: center;
}







/* QUEUE CONTAINER */
.queue-container {
  width: 20%;
  height: 50rem;
  /* background-color: lawngreen; */
  margin-right: 4rem;

  position: sticky;
  top: 0;
}

.queue-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.queue-header h1 {
  color: azure;
}
.queue-header h4,
.queue-header i {
  color: rgb(92, 92, 240);
}
.queue-header h1 {
  width: 50%;
}
.queue-header div {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.queue-header div h4 {
  margin-right: 20px;
}
.queue-header div i {
  margin-right: 10px;
  transform: rotate(180deg);
}

.menu input{
  display: none;
}
.menu label{
  display: block;
  cursor: pointer;
}
.queue-header .menu{
  position: relative;
}
.queue-header .sub-menu{
  color:whitesmoke;
  display:none;
  width: 14rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(21, 3, 102);
  position: absolute;
  top: 2rem;
}
.queue-header .menu .sub-menu-border{
  width: 100%;
  border-bottom: 1px solid black;
}
.queue-header .menu p{
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}
.queue-header .menu input:checked ~.sub-menu{
  display: block;
}
/* QUEUE TABLE */
.queue-row {
  width: 100%;
  height: inherit;

  color: white;
  overflow-y: scroll;
}
.queue-container .queue-row::-webkit-scrollbar {
  display: none;
}

.queue-row .row {
  display: flex;
  height: 6rem;
  /* background-color: blue; */
}
.row .column1 {
  width: 90%;
}
.column1 div img {
  width: 4rem;
  height: 4rem;
}
.column1 div {
  margin-left: 10px;
  font-size: 0.8rem;
}
.row .column2 {
  width: 10%;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.column1 {
  display: flex;
  align-items: center;
}
.column2 i {
  color: #ff0076;
}


/* PLAYER CONTAINER */
#player-container{
  height: 0;
  width: 0;
  overflow: hidden;
}
#player-container:target {
  width: 100%;
  background-color: rgb(14, 11, 11);
  height: 90px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}
#player-container .left-container{
  width: 22%;
  height: 100%;
  /* background-color: rgb(175, 175, 175); */
  display: flex;
  justify-content: space-evenly;
}

#player-container .left-container .player-image{
  width: 70%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgb(26, 26, 143); */
  
}
#player-container .left-container .player-image img{
  width: 6rem ;
  height: inherit;
}
#player-container .player-image .image-detail .song-name{
  font-weight: 600;
  color: aliceblue;
  font-size: 1.4rem;
}
#player-container .player-image .image-detail .name{
  
  color: rgb(127, 131, 134);
  font-size: 1rem;
}

#player-container .left-container .heart{
  width: 20%;
  height: inherit;
  /* background-color: rgb(255, 255, 15); */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#player-container .left-container .heart i{
  font-size: 1.4rem;
  color: rgb(200, 195, 195);
}
.player-container .left-container .heart span i{
  color: #ff0076;
}





#player-container .middle-container{
  width: 50%;
  height: 80%;
  /* background-color: rgb(21, 3, 102); */
  display: flex;
  flex-direction: column;
}
#player-container .middle-container .control{
  width: 40%;
  height: 60%;
  margin: 0 auto;
  /* background-color: rgb(199, 14, 245); */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#player-container .middle-container .control .pause i{
  color: aliceblue;
  font-size: 2rem;
}
#player-container .middle-container .control .back i{
  font-size: 1.4rem;
  color: rgb(204, 200, 200);
}
#player-container .middle-container .control .shuffle i{
  font-size: 1.2;
  color: rgb(148, 148, 148);
}

#player-container .middle-container .duration{
  width: 80%;
  height: 40%;
  margin: 0 auto;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#player-container .middle-container .duration input{
  width: 80%;
}
#player-container .middle-container .duration p{
  color: antiquewhite;
}



#player-container .right-container{
  width: 20%;
  height: 80%;
  /* background-color: rgb(175, 175, 175); */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#player-container .right-container div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#player-container .right-container div input{
  width: 4rem;
  height: 3px;
  margin-left: 10px;
  
}

#player-container .right-container i
{
  color: rgb(195, 190, 186);
  font-size: 1.2rem;
}
